django
django-environ
django-jet-reboot
django_countries
djangorestframework
markdown
django-filter
drf-spectacular
drf-spectacular-sidecar
django_ckeditor_5
django-cloudinary-storage
django-cors-headers
psycopg2